<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script src="/util/util.js"></script>
        <script src="/js/add_class.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">E-Learning System</a>
            </div>
            <div>
              <ul class="nav navbar-nav">
                <li><a href='/home'>Home</a></li>
                <li><a href='/all_classes'>Classes</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container">
            <div class="info_message">

            </div>
            <div id="classes_list" class="row">
                <div class="col-md-9">
                    <form>
                        <h2>Add Class</h2>
                        Class Name:
                        <input type="text" class="form-control" id="class_name">
                        <br>
                        Class Description:
                        <br>
                        <textarea rows="4" cols="115" id="class_description"></textarea>
                        <br>
                        <button id="btn_submit_class" type="button">Submit</button>
                    </form>
                </div>
                <div id='user_div' class="col-md-3">
                    <h4>Welcome Back </h4>
                    <div>
                        <a href='/add_class'>Add class</a>
                        <br>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <footer>
              <p>Copyright by MMS</p>

        </footer>
    </body>
</html>
