<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script src="/util/util.js"></script>
        <script src="/js/home.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">E-Learning System</a>
            </div>
            <div>
              <ul class="nav navbar-nav">
                <li class="active"><a href='/home'>Home</a></li>
                <li><a href="/all_classes">Classes</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container">
            <div id="classes_list" class="row">
                <div class="col-md-9 div_table">
                  <div id="id_heading">

                  </div>
                    <table class="table table-striped" id="id_class_list">
                        <tr>
                          <th>Class ID</th>
                          <th>Class Name</th>
                        </tr>

                    </table>
                </div>
                <div id='user_div' class="col-md-3">
                    <h4>Welcome Back </h4>
                    <div>
                        <a id='link_add_class' href='/add_class'>Add Class</a>
                        <br>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <footer>
              <p>Copyright by MMS</p>

        </footer>
    </body>
</html>
