<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">E-Learning System</a>
            </div>
            <div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Classes</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container">
            <div id="classes_list" class="row">
                <div class="col-md-9">
                    <h4>Classes</h4>
                    <div class="box-border">
                        <h4> HTML5</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                              when an unknown printer took a galley of type and scrambled it to make a
                               type specimen book. It has survived not only five centuries, but also the
                                leap into electronic typesetting, remaining essentially unchanged</p>
                        <button>Class Details</button>
                    </div>
                    <div class="box-border">
                        <h4> Node JS</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                              when an unknown printer took a galley of type and scrambled it to make a
                               type specimen book. It has survived not only five centuries, but also the
                                leap into electronic typesetting, remaining essentially unchanged</p>
                        <button>Class Details</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Welcome Back Marie</h4>
                    <div>
                        <a href="#">My Classes</a>
                        <br>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
            <div id="specific_class_detail">
                <p>Fetch the class details using id</p>
                <button>Register For This Class</div>
            </div>
        </div>
        <footer>
              <p>Copyright by MMS</p>

        </footer>
    </body>
</html>
